<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SetTestServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SetTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartTestServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextQuestionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.NextQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalResultServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FinalResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetTestServlet</servlet-name>
        <url-pattern>/SetTestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartTestServlet</servlet-name>
        <url-pattern>/StartTestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextQuestionServlet</servlet-name>
        <url-pattern>/NextQuestionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalResultServlet</servlet-name>
        <url-pattern>/FinalResultServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
